{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

  <h5>Today's Classes</h5>  
  <div class="card mb-5">
    <div class="card-body">
      <table class="table table-sm table-hover mb-4">
        <thead>
          <tr>
            <th scope="col"><span>Class ID</span></th>
            <th scope="col"><span>Class Title</span></th>
            <th scope="col"><span>Start At</span></th>
            <th scope="col"><span>Finish At</span></th>
          </tr>
        </thead>
        <tbody>
          {% for obj in today_class_list %}
          <tr id="toggleStudentListButton">
            <td id="courseID"><span>{{ obj.id}}</span></td>
            <td><span>{{ obj.course_title }}</span></td>
            <td><span>{{ obj.course_start }}</span></td>
            <td><span>{{ obj.course_end }}</span></td>
		      </tr>
          {% endfor %}
        </tbody> </table>
    </div>
  </div>
  <h5>Notify Payment Today</h5>
  <div class="card">
    <div class="card-body">
      <table class="table table-sm table-hover mb-4">
        <thead>
          <tr>
            <th scope="col"><span>Student Name</span></th>
            <th scope="col"><span>Contact Number</span></th>
          </tr>
        </thead>
        <tbody>
          {% for obj in payment_list %}
          <tr>
            <td><a href="#"><span>{{ obj.student_id}}</span></a></td>
            <td><span></span></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  
  <script>
    url = "http://127.0.0.1:8000/timetable/";

    /*
    const toggleStudentListButton = document.getElementById('toggleStudentListButton');
    const addStudentToClassButton = document.getElementById('enrollButton'); 
    const enrollInput = document.getElementById('enrollInput');
    var courseID;
    */

    toggleStudentListButton.addEventListener('click', ()=>{
      courseID = document.getElementById('courseID').innerText;
      var StudentListModal = new bootstrap.Modal(document.getElementById('StudentListModal'), {});
      StudentListModal.show();

      options = {
        method: "POST",
        headers: {
          "X-Requested-With": "XMLHttpRequest",
          "Content-Type": "application/json",
          "X-CSRFToken": csrfToken,
        },
        body: JSON.stringify({
          'classID': courseID,
        }),
        credentials: 'same-origin'
      }

      //studentList.replaceChildren();

      fetchData(url, options).then(
        result=>{
          displayStudentsInClass(result);
        }
      );


      deleteClass(courseID);
    });
  </script>
{% endblock %}
