{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<h5>Create a Class</h5>
<div class="card">
    <div class="card-body p5">
      <!-- Form starts here -->
      <form class="p-3" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
          <div class="form-group reg-form-group">{{ form|crispy }}</div>
        </fieldset>
        <div class="form-group">
          <button class="btn btn-primary text-light" type="submit">Save</button>
          <a class="btn btn-primary text-light" href="{% url 'Homepage' %}">Back</a>
        </div>
      </form>
      <!-- Form ends here -->
    </div>
  </div>
{% endblock %}