{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="card">
    <div class="card-body p5">
      <!-- Form starts here -->
      <form class="p-3" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
          <h5 class="mb-3 mt-3">Are you sure you want to remove student from class?</h5>
          <button class="btn btn-primary text-light" id="confirmDeleteButton" type="submit">Confirm</button>
          <a class="btn btn-danger text-light" href="javascript:history.back()">Cancel</a>
        </div>
      </form>
      <!-- Form ends here -->
    </div>
  </div>
<script>
  const confirmDeleteButton = document.getElementById("confirmDeleteButton");
  confirmDeleteButton.addEventListener('click', ()=>{
    alert("Student removed from class.");
  })
</script>
{% endblock %}