{% extends "users/base.html" %} {% load crispy_forms_tags %} {% block content %}
{% csrf_token %}

<div id="calendar"></div>

<script>
  url = "http://127.0.0.1:8000/timetable/";
  var courseID;
  var counter = 0;

  function Timetable() {
    var calendarEl = document.getElementById("calendar");
    var calendar = new FullCalendar.Calendar(calendarEl, {
      initialView: "dayGridMonth",

      headerToolbar: {
        left: 'prev,next',
        center: 'title',
        right: 'dayGridMonth,timeGridWeek,timeGridDay'
      },
      
      navLinks: false,

      eventDisplay: "block",

      events: {{ events|safe }},

      eventClick: function (info) {
        info.jsEvent.preventDefault();

        console.log(counter);

        courseID = info.event.id;

        options = {
          method: "POST",
          headers: {
            "X-Requested-With": "XMLHttpRequest",
            "Content-Type": "application/json",
            "X-CSRFToken": csrfToken,
          },
          body: JSON.stringify({
            'classID': courseID,
          }),
          credentials: 'same-origin'
        }

        var StudentListModal = new bootstrap.Modal(document.getElementById('StudentListModal'), {});
        StudentListModal.show();

        //studentList.replaceChildren();

        fetchData(url, options).then(
          result=>{
            displayStudentsInClass(result, counter);
          }
        )

        deleteClass(courseID);
      },
    });

    calendar.render();

  }

  document.addEventListener("DOMContentLoaded", Timetable());
</script>
{% endblock %}
