{% extends "users/base.html" %} {% load crispy_forms_tags %} {% block content %}
{% csrf_token %}

<div id='external-events'>
<!--
  <div class='fc-event fc-h-event fc-daygrid-event fc-daygrid-block-event'>
    <div class='fc-event-main'>Kid Parkour</div>
  </div>
  <div class='fc-event fc-h-event fc-daygrid-event fc-daygrid-block-event'>
    <div class='fc-event-main'>Adult Parkour</div>
  </div>
-->
<!--
  <table class="table table-sm table-hover mb-4">
    <thead>
      <tr>
        <th scope="col"><span>Class Title</span></th>
        <th scope="col"><span>Start At</span></th>
        <th scope="col"><span>Finish At</span></th>
      </tr>
    </thead>
    <tbody>
      {% for obj in regClasses %}
      <tr id="toggleStudentListButton" class="draggableEvent">
        <td><span>{{ obj.title }}</span></td>
        <td><span>{{ obj.start }}</span></td>
        <td><span>{{ obj.end }}</span></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

    <div class="row">
        <div class="col-md-2">
            <h2>Other Content</h2>
            <p>This is some other content.</p>
        </div>
        <div class="col-md-10">
        </div>
    </div>
-->
         <div id="calendar"></div>
<script>
  url = "http://127.0.0.1:8000/timetable/";
  var courseID;

  function Timetable() {
    var calendarEl = document.getElementById("calendar");

    var calendar = new FullCalendar.Calendar(calendarEl, {
      initialView: "dayGridMonth",

      headerToolbar: {
        left: 'prev,next',
        center: 'title',
        right: 'dayGridMonth,timeGridWeek,timeGridDay'
      },
      
      navLinks: false,

      editable: true,

      eventStartEditable: true,

      eventDurationEditable: true,

      droppable: true,

      dateClick: function(info){
        var addClassYear = info.date.getFullYear();
        var addClassMonth = ("0" + info.date.getDate()).slice(-2);
        var addClassDate = ("0" + (info.date.getMonth() + 1)).slice(-2);

        var AddClassModal = new bootstrap.Modal(document.getElementById('AddClassModal'), {});
        AddClassModal.show();

        var id_course_date = document.getElementById('id_course_date');
        var course_date = addClassYear + "-" + addClassMonth + "-" +addClassDate;
        id_course_date.value = course_date;
      },

      eventDisplay: "block",

      events: {{ events|safe }},

      drop: function(info) {
        console.log(info.event);
      },

      eventReceive: function(info) {
          // info.event is the newly created event
          info.event.setStart('2025-03-18T12:00:00Z');
          info.event.setEnd('2025-03-18T13:00:00Z');
          info.event.setAllDay(false);
          //alert('Event placed at: ' + info.event.start.toISOString());
      },

      eventDrop: function(info) {
        info.event.setAllDay(false);

        info.jsEvent.preventDefault();
      },

      eventClick: function (info) {
        info.jsEvent.preventDefault();

        courseID = info.event.id;

        options = {
          method: "POST",
          headers: {
            "X-Requested-With": "XMLHttpRequest",
            "Content-Type": "application/json",
            "X-CSRFToken": csrfToken,
          },
          body: JSON.stringify({
            'classID': courseID,
          }),
          credentials: 'same-origin'
        }

        var StudentListModal = new bootstrap.Modal(document.getElementById('StudentListModal'), {});
        StudentListModal.show();

        //studentList.replaceChildren();

        fetchData(url, options).then(
          result=>{
            displayStudentsInClass(result, courseID);
          }
        )

        deleteClass(courseID);
      },
    });

    var Draggable = FullCalendar.Draggable;

    var containerEl = document.getElementById('external-events');
    var calendarEl = document.getElementById('calendar');
    var checkbox = document.getElementById('drop-remove');

    new Draggable(containerEl, {
      itemSelector: '.draggableEvent',
      eventData: function(eventEl) {
        return {
          title: 'hello',
          alDay: false,
        };
      }
    });

    calendar.render();
  }

  document.addEventListener("DOMContentLoaded", Timetable());
</script>
{% endblock %}
